<h3>List of students</h3>

<ul>
  {{#each model.students as |student|}}
  <li>{{#link-to 'student' student.id}}{{student.firstName}} {{student.lastName}}{{/link-to}}<br>
      {{#each student.tickets as |ticket|}}
        {{#if ticket.isClose}}

        {{else}}
          Wait Time: {{wait-time ticket.time_added}}
        {{/if}}
      {{/each}}
  </li>
  {{/each}}
</ul>
